/*!******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./styles/Course.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************/
.Course_main__bSidB{
    width: 100vw;
    display: flex;
    margin-top: 5vh;
    height: 86.83vh;
    display: flex;
    flex-direction: row;
}
.Course_leftPart__u64bU{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.Course_contentBlock__K7LxS{
    width: 90%;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.Course_videoContainer__tKZ7W{
    height: 50vh;
}
.Course_videoContainer__tKZ7W img{
    width: 100%;
}
.Course_videoContainer__tKZ7W iframe{
    width: 100%;
    height: 100%;
}
.Course_episodesBlock__Ge3xz{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-column-gap: 1%;
    column-gap: 1%;
    grid-row-gap: 15%;
    row-gap: 15%;
    margin-top: 5vh;
    
}
.Course_episodesBlock__Ge3xz span{
    grid-column: 1/6;

}
.Course_rightPart__2_HSx{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.Course_title__EVo1d{
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;

}
.Course_authorBlock__Y8vGy{
    display: flex;
    align-items: center;
}
.Course_authorBlock__Y8vGy img{
    width: 10vh;
    height: 10vh;
    border-radius: 20px;
    margin-right: 3vw;
}
.Course_authorBlock__Y8vGy span{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
}
.Course_descriptionBlock__phaBY{
    margin-right: 5vw;
}
.Course_buttonBlockPart__XkUMd{
    margin-top: 5vh;
}
.Course_buttonBlockPart__XkUMd button{
    margin-top: 5vh;
    background-color: #484BF2;
    color: white;
}


