
.main{
    margin-top: 7vh;
    margin-left: 35vw;
    position: absolute;
    height: 850px;
    width: 610px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-color: #484BF2;
}
.title{
    font-size: 36px;
    margin-top: 40px;
    color: #484BF2;
}

/*formulario*/
.field{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    color: #484BF2;
    
}

.lableContainer{
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}

.field input{
    background-color: white;
    border-style: none;
    border-bottom-style: solid;
    border-radius: 20px;
    width: 300px;
    height: 30px;
    color: white;
    border-style: solid;
    border-color: #484BF2;
}


.forms{
    margin-top: 40px;
}

/*botones*/

.buttons{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    
}
.singUp{
    margin-top: 40px;
    width: 300px;
    height: 60px;
    border-radius: 30px;
    border-style: none;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    border-style: solid;
    border-color: #484BF2;
    color: #484BF2;
    
}
.singUp:active{
    background-color: #aaaaaf;
}
.logIn{
    width: 150px;
    height: 40px;
    font-weight: lighter;
    font-size: 20px;
    background-color: #484BF2;
    border-style: none;
    border-radius: 20px;
    color: white;
    
}
.logInBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    color: #484BF2;
}


